body {
    padding: 2em 5em;
    font-size: 2em;
}

header, section {
    width: 70%;
    margin: auto;
}

header > h1 {
    margin: 0;
    position: relative;
}

header > h1 > span {
    display: block;
    margin-top: 1em;
}

header {
    font-family: 'Rye', cursive;
    background-color: #104922;
    color: white;
    text-align: center;
    line-height: 3em;
    position: relative;
    border-radius: 5em;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1em solid #222;
    position: relative;
}

#blind-value {
    font-size: 2em;
    text-align: center;
    margin: 1em auto;
}

button, input {
    font-size: 1.3em;
    cursor: pointer;
}

#game-start button {
    width: 3em;
    height: 3em;
    background: none;
    border: none;
    position: relative;
    top:40px;
}

#declare-winner button {
    width: 8em;
    height: 1.5em;
    background: #104922;
    border-radius: 1em;
    border: 4px solid #222;
    position: relative;
    font-size: 0.8em;
    color:white;
}

button span {
    position: absolute;
    top:36px;
    left: 41px;
    color:white;
    font-size: 0.8em;
}

input:first-of-type {
    margin-top: -10px;
}

label {
    display: none;
}

.card-flip {
    transform: rotateY(360deg);
    transition: 2.6s;
    transform-style: preserve-3d;
}

header > div > span > span,
header > div > div > span {
    transform: rotateY(180deg);    
    background-image: url(images/card-back.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5em;
    height: 5em;
    display: block;
    position: absolute;
}

header > div > span {
    position: absolute;
}

header > div > div > span:nth-of-type(1) {
    margin-left: -30px;
    margin-top: 3px;
}

header > div > span:nth-of-type(1){
    top: 54%;
    left: 31%;
    transform: rotate(2deg);
}

header > div > span:nth-of-type(2){
    top: 55%;
    left: 39%;
    transform: rotate(-1deg);
}

header > div > span:nth-of-type(3){
    top: 53.5%;
    left: 47%;
    transform: rotate(-2deg);
}

header > div > span:nth-of-type(4){
    top: 54%;
    left: 55%;
    transform: rotate(-3deg);
}

header > div > span:nth-of-type(5){
    top: 53.5%;
    left: 63%;
    transform: rotate(1deg);
}

header > div > div:nth-of-type(1){
    top: 15%;
    left: 7%;
    position: absolute;
    transform: rotate(3deg);
}

header > div > div:nth-of-type(2){
    top: 14%;
    right: 11%;
    position: absolute;
    transform: rotate(7deg);
}

header > div > div:nth-of-type(3){
    bottom: 25%;
    left: 10%;
    position: absolute;
    transform: rotate(-14deg);
}

header > div > div:nth-of-type(4){
    bottom: 25%;
    right: 9%;
    position: absolute;
    transform: rotate(56deg);
}

dd  {
   margin:0.5em 0; 
}

dt {
    height: 2em;
    width: 2em;
    margin: 1em 0;
}
dt:nth-of-type(1){
    background: black;
    fill: white;
}

dt:nth-of-type(2){
    fill: red;
}

dt:nth-of-type(3){
    fill: black;
}

dt:nth-of-type(4){
    fill: blue;
}